/* Google fonts for Roboto and Roboto-Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Create variables */
:root {
    --white: #F9FAF7;
    --blue: #0070E0;
    --serenity: #9BBBE3;
    --midnight-blue: #222F38;
    --nav-height: 90px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: inherit;
}

li {
    list-style-position: inside;
}

.crumbs {
    background-color: var(--serenity);
    padding: 10px 10px 10px 40px;

}

.page_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    height: 120px;
}

.page_title h1 {
    size: 2rem;
}

/* DIVS with blue background*/
.blue {
    color: var(--white);
    background-color: var(--blue);
}