/* Create variables */
:root {
    --white: #F9FAF7;
    --blue: #0070E0;
    --serenity: #9BBBE3;
    --midnight-blue: #222F38;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* .logo, .a_logo {
    width: 150px;
    height: 75px;
} */
