/* Google fonts for Roboto and Roboto-Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Create variables */
:root {
    --white: #F9FAF7;
    --blue: #0070E0;
    --serenity: #9BBBE3;
    --midnight-blue: #222F38;
    --nav-height: 79px;
}

/* boilerplate to reduce all margin and padding to  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************* NavBar ***************/
.nav_bar {
    /*FLEXBOX*/
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    /*GRID LAYOUT*/
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #222F38;
    gap: 10px;

    /* prevents the height from moving when the width of the screen is too low */
    /* max-height: var(--nav-height); */
}

/* Parent unordered list */
.nav_list {
    display: inline-block;
    grid-column: 3;
    grid-row: 1;
    /* text-align: right; */
}

/* Direct list item (li) children of .navlist */
.main_menu {
    display: inline-block;
    list-style: none;
    padding: 1rem 0;
}

/* Primary navigation items link*/
.main_menu a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--white);
    padding: 1rem;
}

/* Main menu's direct first child that is an "a tag" being hover and/or focus*/
.main_menu > a:first-child:hover, .main_menu > a:first-child:focus {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 1.5rem;
}

/**************** DROP DOWN LIST ************************/

/* Unordered list of the drop downs */
.submenu {
    position: absolute;
    top: var(--nav-height);
    min-width: 120px;
    box-shadow: 0 0 5px gray;
    background-color: #fff;
    /* border-radius: 2%; */
    visibility: hidden;
    /* opacity: 0; */
    transition: visibility 200ms ease-in-out;
    text-align: left;
}

/* Each listItem in the unordered list */
.submenu li {
    display: block;
    list-style: none;
    /* padding: 1.25rem 1rem; */
}

/* Each a tag in each listItem */
.submenu a {
    display: block;
    color: var(--midnight-blue);
    /* padding: 1.25rem 1rem; */
}

/* Highlight and pointer when hovering on each list item */
.submenu li:hover, .submenu li:focus {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

/* Make the drop down list visible */
.main_menu:hover > .submenu, .main_menu:focus > .submenu {
    /* opacity: 1; */
    visibility: visible;
}

/* Company Logo */
.logo {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    margin: 20px 0 20px 20px;
    width: 100px;
    height: 50px;
    max-width: 100px;
    max-height: 50px;
}

/* Hide the hamburger menu */
.hamburger{
    display: none;
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    /* margin: 20px 20px 20px 0; */
    cursor: pointer;
}

/*Responsive: when the screen is px or smaller **/
@media only screen and (max-width: 900px){

    .nav_list {
        display: none;
    }
    .hamburger {
        display:block;
        grid-column: 3;
        grid-row: 1;
    }

    /* For when the hamburger menu is activated */
    .nav_bar.activate {
        max-height: 500px;
        /* height: calc(var(--nav-height) * 6); */
        justify-content: center;
    }
    .nav_list.activate {
        display: inline-block;
        width: 100%;
        grid-column: 2;
        grid-row: 2;
    }
    .nav_list.activate li {
        display: block;
        /* background-color: var(--blue); */
        /* margin: 0 auto; */
        text-align: center;
    }
    
}