/* Google fonts for Roboto and Roboto-Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Create variables */
:root {
    --white: #F9FAF7;
    --blue: #0070E0;
    --serenity: #9BBBE3;
    --midnight-blue: #222F38;
    --nav-height: 79px;
}

/* boilerplate to reduce all margin and padding to  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222F38;
    /* prevents the height from moving when the width of the screen is too low */
    max-height: var(--nav-height);
}

/************* NavBar ***************/

/* All children list item in navigation */
.nav_list li {
    display: inline-block;
    list-style: none;
}

/* Direct list item (li) children of .navlist */
.main_menu_li {
    padding: 30px 0;
}

/* Primary navigation items link*/
.nav_list li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--white);
    padding: 1rem;
}

/* Primary navigation items link hover and focus*/
.nav_list li a:hover, .nav_list li a:focus {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 1.5rem;
}

/**************** DROP DOWN LIST ************************/

/* Unordered list of the drop downs */
.nav_dropdown {
    position: absolute;
    top: var(--nav-height);
    min-width: 120px;
    box-shadow: 0 0 5px gray;
    background-color: #fff;
    border-radius: 2%;
    visibility: hidden;
    /* opacity: 0; */
    transition: visibility 200ms ease-in-out;
}

/* Each listItem in the unordered list */
.nav_dropdown li {
    display: block;
    list-style: none;
    color: var(--midnight-blue);
    padding: 1.25rem 1rem;
}

/* Highlight and pointer when hovering on each list item */
.nav_dropdown li:hover, .nav_dropdown li:focus {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

/* Make the drop down list visible */
.nav_list li:hover > .nav_dropdown, .nav_list li:focus > .nav_dropdown {
    /* opacity: 1; */
    visibility: visible;
}

/* Company Logo */
.logo {
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
    margin: 20px 0 20px 20px;
    width: 100px;
    height: 50px;
    max-width: 100px;
    max-height: 50px;
}

/* Hide the hamburger menu */
.icon {
    visibility: hidden;
    /* absolute takes this element out of the flex layout*/
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 20px 20px 0;
    cursor: pointer;
}

/*Responsive: when the screen is px or smaller **/
@media only screen and (max-width: 1000px){
    /* .nav_list {
        visibility: hidden;
    } */
    .icon {
        visibility: visible;
    }
    header {
        max-height: 500px;
        height: 500px;
        justify-content: center;
    }
    .nav_list li {
        display: block;
    } 
}