@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Create variables */
:root {
    --white: #F9FAF7;
    --blue: #0070E0;
    --serenity: #9BBBE3;
    --midnight-blue: #222F38;
}

/* boilerplate to reduce all margin and padding to  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222F38;
}

/* Primary Navigation items */
.navlist li {
    display: inline-block;
    list-style: none;
    padding: 1.25rem 1rem;
}

/* Primary navigation items link*/
.navlist li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--white);
    padding: 1rem;
}

/* Primary navigation items link hover and focus*/
.navlist li a:hover, .navlinks li a:focus {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 1.5rem;
}

/* Unordered list of the drop downs */
.nav_dropdown {
    position: absolute;
    top: 3.7rem;
    min-width: 150px;
    box-shadow: 0 0 5px gray;
    background-color: #fff;
    border-radius: 2%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

/* Each listItem in the unordered list */
.nav_dropdown li {
    display: block;
    list-style: none;
    color: var(--midnight-blue);
}

.nav_dropdown li:hover, .nav_dropdown li:focus {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.navlist li:hover > .nav_dropdown, .navlist li:focus > .nav_dropdown {
    opacity: 1;
    visibility: visible;
}

.logo {
    cursor: pointer;
}