/***** Main div container *****/
#home_div {
    display: flex;
    flex-direction: column;
}

/***** BANNER *****/
/* .banner_div {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;   
} */
#banner_image {
    width: 100%;
    min-height: 250px;
    max-height: 800px;
    padding: 0;
    margin:0;
}

/***** Upcoming Event, Our Mission, Our History *****/
.home_div_items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}
/* Paragraphs */
#home_div p {
    max-width: 800px;
}
/* Home page images */
.home_images {
    min-width: 200px;
    max-width: 500px;
    min-height: 100%;
    height: auto;
}

/***** Statistics *****/
.stats_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.stats_images {
    width: 200px;
    height: 200px;
    padding: 10px 0;
}

@media only screen and (max-width: 1000px){
    /* Change stats to column */
    #stats_div {
        flex-direction: column;
    }
    /* Hide images */
    .home_images {
        display: none;
    }
    /* Add left and right padding to the paragraphs */
    #home_div h1, #home_div h3, #home_div ul, #home_div p{
        padding: 10px;
    }
}