#home_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-between; */
}

.home_div_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    /* justify-content: center; */
    width: 100%;
    padding: 10px;
}

.blue {
    color: var(--white);
    background-color: var(--blue);
}

#home_div p {
    max-width: 500px;
}

#home_div img {
    min-width: 100px;
    max-width: 450px;
    height: 100%;
}