#contact_div{
    display: flex;
    justify-content: center;
}
#contact_container{
    display:flex;
    flex-direction: column;
    gap: 50px;

    width: 100%;
    max-width: 1000px;
    padding: 40px 10px;
}
.contact_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}