/* Google fonts for Roboto and Roboto-Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/************* Boilerplate ***************/
/**** Tags ****/
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--midnight-blue);
    color: var(--white);
    /* This will make the footer always stay at the bottom */
    margin-top:auto;
}
footer ul {
    list-style: none;
}
footer ul li, footer h3  {
    margin-bottom: 5px;
}


/**** footer_div container ****/
.footer_div {
    display: flex;
    flex-direction: row;
}
/* footer_div items */
.footer_div > div {
    flex: 1;
    margin: 10px;
}
/* Logo size specifically for the footer */
footer .logo, footer .a_logo {
    width: 200px;
    height: 100px;
}
.footer_div div > div {
    margin-bottom: 10px;
}

/**** SITEMAP ****/
/* sitemap outer container */
#third_footer_div {
    flex: 2 1 0;

    display: flex;
    flex-direction: column;
}
/* sitemap inner container */
#sitemap_footer_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sitemap_footer_div a:hover, #sitemap_footer_div a:focus{
    color: var(--blue);
}

/**** Copyrights  ****/
#copyrights {
    align-self: center;
    font-size: .75rem;
}

/**** Responsive: when the screen is 1000px or smaller ****/
@media only screen and (max-width: 1000px){
    .footer_div {
        flex-direction: column;
    }
}