#services_div {
    display: flex;
    flex-direction: column;
}

.service_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.service_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.services_img {
    width: 100%;
    max-width: 800px;
}

.service_content h1 {
    text-align: center;
    padding: 20px 0;
}