#board_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;

    color: var(--white);
    margin: 20px;
}

.director_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: var(--blue);
    height: 400px;
    padding: 10px;

    box-shadow: rgba(0,0,0,0.3) 10px 10px;
}

.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: auto;
}
.director_info {
    margin-top: auto;
}

@media only screen and (max-width: 1000px) {
    #board_div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    #board_div {
        grid-template-columns: repeat(1, 1fr);
    }
}