/* Create variables */
:root {
    --nav-height: 90px;
}

/* Give padding and highlight to all a tags */
#nav_list a:hover, #nav_list a:focus {
    background-color: var(--blue);
}

/************* NavBar ***************/
#nav_bar {
    /*GRID LAYOUT*/
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    background-color: #222F38;
    gap: 10px;
}

/* Unordered list (ul) */
#nav_list {
    display: inline-block;
    grid-column: 3;
    grid-row: 1;
}

/************* Main Menu ***************/

/* Direct list item (li) children of #nav_list */
.main_menu {
    display: inline-block;
    list-style: none;
    padding: 1rem 0;
}

/* Primary navigation items link*/
.main_menu a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    padding: 1rem;
    cursor: pointer;
}

/* Main Menu items */
.main_menu > a {
    border-radius: 1.5rem;
}

/* Make the drop down list visible */
.main_menu:hover > .submenu, .main_menu:focus > .submenu {
    visibility: visible;
}

/************* Submenu ***************/

/* Unordered list of the drop downs */
.submenu {
    position: absolute;
    top: var(--nav-height);
    min-width: 150px;
    box-shadow: 0 0 5px gray;
    background-color: #fff;
    visibility: hidden;
    transition: visibility 200ms ease-in-out;
}

/* Each listItem in the unordered list */
.submenu li, .submenu a {
    display: block;
    list-style: none;
    color: var(--midnight-blue);
}

/************* Logo ***************/
header .logo, header .a_logo {
    grid-column: 1;
    grid-row: 1;
    width: 150px;
    height: 75px;
}

header .a_logo {
    margin: 10px 0 10px 10px;
}

/************* Hamburger ***************/
.hamburger, .a_hamburger{
    display: none;
}

/*Responsive: when the screen is 1000px or smaller **/
@media only screen and (max-width: 1000px){
    li, a {
        color: var(--white);
    }
    /***** Hamburger Menu *****/
    .hamburger, .a_hamburger {
        display: block;
        grid-column: 3;
        grid-row: 1;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .a_hamburger{
        margin: 20px;
    }
    .a_hamburger:hover, .a_hamburger:focus {
        background-color: var(--midnight-blue);
    }

    /***** NavList *****/
    #nav_list {
        display: none;
    }
    #nav_list.activate {
        display: block;
        width: 100%;
        grid-column: 2;
        grid-row: 2;
    }
    #nav_list.activate li {
        display: block;
        text-align: center;
    }

    /***** Main Menu *****/
    .main_menu {
        padding: 0;
    }
    .main_menu a {
        display: block;
        height: fit-content;
        border-radius: 0;
    }

    /***** Submenu *****/
    .submenu {
        box-shadow: none;
        border: 1px solid darkgray;
    }
    /* initially hide menu */
    .submenu.hide {
        display: none;
    }
    /* show submenu when a main menu item is clicked */
    .submenu.show{
        visibility: visible;
        position: static;
        background-color: var(--midnight-blue);
    }
    /* change color of a tag to white */
    .submenu a {
        color: var(--white);
    }
    
}